{% extends "base.html" %}
{% block content %}
<h1>Strona główna</h1>
<a href="admin/users">Admin</a>
<a href="login">Log in</a>
<a href="signin">Sign in</a>
<a href="user/profile/boratek">User Profile</a>
{% endblock %}
