{% extends 'layout.twig' %}

{% block title %}Chat - User- Profile{% endblock %}

{% block head %}
{{ parent() }}
 <style type="text/css">
        h1 {color: grey;}
        #chatDiv{width: 700px; height: 400px; border: 2px solid grey; backgrund: none; overflow: auto; text-wrap:normal;}
</style>
<script src="../../../js/jquery-1.10.1.min.js"></script>
<script src="../../../js/utils.js"></script>
<!--<script src="../../../js/ajax.js"></script>-->
<script src="../../../js/mess2.js"></script>

{% endblock %}

{% block content %}

<h1>Chat something</h2>
<span id="name">{{display_name}}</span>
<div id="chatDiv">

{% include 'display.twig' with {'display_messages': 'display_messages'} %}

</div>

<form id="testForm" action="" method="post">
    {{ form_widget(form) }}
    <input type="submit" name="submit" id="submit"/>
</form>


{% endblock %}
