{% extends 'layout.twig' %}

{% block title %}Chat - Admin - Delete{% endblock %}

{% block head %}
{{ parent() }}
 <style type="text/css">
        h1 {color: grey;}
</style>
{% endblock %}

{% block content %}


<h1>Delete user</h1>


<p>User
    has been deleted.
</p>

{% endblock %}
