{% extends 'layout.twig' %}

{% block title %}Chat - Silex{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Home page</h1>
<a href="{{ url('/login') }}">Log in</a>
<a href="{{ url('/register') }}">Sign in</a>
{% endblock %}
