{% extends 'layout.twig' %}

{% block title %}Chat - User - Login{% endblock %}

{% block head %}
{{ parent() }}
 <style type="text/css">
        h1 {color: grey;}
</style>
{% endblock %}

{% block content %}

<form action="#" method="post">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
</form>

{% endblock %}
